@font-face {
    font-family: "OngleleafYunjinisuni";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYunjinisuni/OngleleafYunjinisuni.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYunjinisuni/OngleleafYunjinisuni.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYunjinisuni/OngleleafYunjinisuni.ttf") format("truetype");
    font-display: swap;
}

.OngleleafYunjinisuni {
    font-family: "OngleleafYunjinisuni";
}
